/* Write your CSS here */
.row-bar {
  display: flex;
  padding: 0 20px;
  border: 1px solid #cbd5e1;
}
.row-name {
  color: #334155;
  font-size: 12px;
  width: 100px;
}

.del-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.del-pic {
  width: 16px;
}
